

<%= form_for(project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: "5" %>
  </div>

  <div class="field">
    <%= f.label :source_link %>
    <%= f.text_field :source_link, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :complete_link %>
    <%= f.text_field :complete_link, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active, class: 'form-control' %>
  </div>

  <div class="actions text-center">
    <%= f.submit msg %> <%= link_to 'Back', back_btn, class: 'btn btn-default' %>
  </div>
<% end %>
