<% provide(:title, 'Portfolio') %>

<p id="notice"><%= notice %></p>

<div class="row project-table">
  <% @projects.each do |p| %>
    <div class="col-md-4 col-sm-12">
      <h2><%= link_to p.name, p.full_completed %></h2>
        <%= image_tag p.image.url, class: 'img-thumbnail'%>
      <p>
        <%= truncate p.description, separator: " ", length: 255 %>
      </p>
      <small> <%= link_to "(Source)", p.full_source %> </small>
    </div>
  <% end %>
</div>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
